* {
	margin: 0;
	padding: 0;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.react-player {
	/* pointer-events: none ; */
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

h1 {
	color: white;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* background video */
.main {
	width: 100vw;
	height: 100vh;
}

video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* z-index: 99999; */
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
}

/* typing  */
#writing {
	color: transparent;
	white-space: nowrap;
}

#writing::after {
	content: 'Hello real live world!';
	position: absolute;
	top: 24rem;
	color: #fff;
	overflow: hidden;
	border-right: 2px solid #fff;
	animation: typing 7s steps(31) infinite;
}

@keyframes typing {
	0% {
		width: 0%;
	}
	50% {
		width: 460px;
	}
	100% {
		width: 0%;
	}
}

/* country flags */
.countries {
	position: absolute;
	padding-top: 40rem;
	padding-left: 30rem;
	z-index: 99999;
}

.countries img {
	width: 70px;
	opacity: 0.7;
	padding-left: 7rem;
}
